body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* INIZIO HEADER */

header {
    padding: 2px;
    height: 40px;
}

.p-item {
    padding-left: 8px;
}

.sfondo-item {
    background-color: #4a4a4a;
    margin: 3px;
    padding: 4px;
    border-radius: 6px;
    font-size: small;
}

a {
    text-decoration: none;
    color: white;
}

/* FINE HEADER */

/* INIZIO MAIN */

main {
    height: calc(100vh - 40px - 71px);
    width: 100%;
    overflow-y: auto;
}

.container {
    width: 1700px;
    margin: 50px auto;
    min-height: 100px;
    flex-wrap: wrap;
}

.card {
    padding: 5px;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    position: relative;
}

.card > img {
    width: 100%;
}

.micro-item {
    background-color: rgba(34, 34, 34, 0.412);
    padding: 5px;
    color: white;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
/* FINE MAIN */


/* INIZIO FOOTER */
footer {
    background-color: #222222;
    height: 71px;
}

.fa-item {
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 38px;
}
 
.fa-green-item {
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 38px;
    color: green;
}

.text-item {
    font-size: 11px;
    justify-content: center;
    display: flex;
    color: white;
}

.angle-item {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 8px;
}

.text-footer {
    align-items: center;
    display: flex;
    padding: 13px;
    font-size: 12px;
}

.text-footer > a {
    color: red;
}